.container {
    width: 100%;
    height: 100%;
    border-top: 1px solid grey;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a b c'
                         'd e f';

}

.currentTemp {
    grid-area: a;
}

.summary {
    grid-area: d;
}

.feelsLike {
    grid-area: b;
}

.feelsLikeValue {
    grid-area: e;
}

.wind {
    grid-area: c;
}

.humidity {
    grid-area: f;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml15 {
    margin-left: 15px;
}
